<div class="flex justify-center" style="height: max-content;">
    <div class="py-4 md:py-12 lg:py-[120px] px-2 max-w-md w-full">
        <div class="relative w-full max-w-2xl">
            <div class="relative filter z-10">
                <div
                    class="flex flex-col gap-3 p-2 md:p-4 pt-4 rounded-2xl bg-neutral-800 shadow-md shadow-neutral-900">
                    <!-- head -->
                    <div class="flex items-center justify-between px-4">
                        <div class="flex items-center gap-4">
                            <button class="text-lg font-semibold text-neutral-400 hover:text-neutral-100">Swap</button>
                        </div>

                        <div>
                            <button data-dropdown-toggle="settings" data-dropdown-placement="left-start"><i
                                    class="material-icons">settings</i></button>

                            <!-- settings menu -->
                            <div id="settings" class="hidden z-10 -mr-10">
                                <div
                                    class="flex flex-col gap-3 p-3 border rounded shadow-xl bg-neutral-900 w-80 border-neutral-700">
                                    <div class="flex flex-col gap-4 p-3 border rounded border-neutral-800/60">
                                        <div class="text-[0.625rem] font-bold text-neutral-400">Transaction Settings
                                        </div>

                                        <div class="flex flex-col gap-4">
                                            <div class="grid gap-2">
                                                <div class="flex items-center">
                                                    <div class="text-xs font-bold ">Slippage tolerance</div>
                                                </div>
                                                <div class="flex items-center space-x-2">
                                                    <div class="border-neutral-800 hover:border-green-400 border-2 h-9 flex items-center px-2 rounded"
                                                        tabindex="-1">
                                                        <div class="flex items-center justify-between gap-1">
                                                            <input class="bg-transparent min-w-0 w-full font-bold"
                                                                color="" autocomplete="off" value="0.50">%
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <button class="btn-green opacity-70 text-sm py-1">Auto</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="grid gap-2">
                                                <div class="flex items-center">
                                                    <div class="text-xs font-bold">Transaction deadline</div>
                                                </div>
                                                <div class="flex items-center gap-2">
                                                    <div
                                                        class="border-neutral-800 hover:border-green-400 border-2 w-24 h-9 flex items-center px-2 rounded">
                                                        <input class="bg-transparent min-w-0 w-full font-bold"
                                                            placeholder="30" color="" value="">
                                                    </div>

                                                    <div class="text-sm font-bold text-neutral-400">minutes</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- from token -->
                    <div
                        class="border-neutral-800 hover:border-neutral-700 rounded-2xl border bg-neutral-900 p-3 flex flex-col gap-4">
                        <div class="flex items-center justify-between gap-2">
                            <div (click)="selectFromToken()"
                                class="flex items-center bg-neutral-800 hover:bg-neutral-700 cursor-pointer gap-2 px-2 py-1 rounded-full shadow-md">
                                <div><img class="m-1 rounded-full w-6 h-6" [src]="swapData.fromToken.logoURI" /></div>
                                <div>{{swapData.fromToken.symbol}}</div>
                                <div class=""><i class="material-icons m-1">keyboard_arrow_down</i></div>
                            </div>
                        </div>
                        <div class="flex gap-1 justify-between items-center">
                            <div class="flex items-baseline flex-grow gap-3 overflow-hidden">
                                <input class="input-amount" inputmode="decimal" title="Token Amount" autocomplete="off"
                                    autocorrect="off" type="text" pattern="^[0-9]*[.,]?[0-9]*$" placeholder="0.00"
                                    min="0" minlength="1" maxlength="79" spellcheck="false"
                                    [(ngModel)]="swapData.fromToken.amount" (change)="changeFromToKenAmount(null)"
                                    (keyup)="changeFromToKenAmount($event)">
                            </div>
                            <div
                                class="text-sm font-medium cursor-pointer select-none flex text-neutral-400 whitespace-nowrap">
                                {{swapData.fromToken.balance}}</div>
                        </div>
                    </div>

                    <div class="z-0 flex justify-center -mt-6 -mb-6">
                        <div role="button"
                            class="w-8 h-8 p-[0.2rem] rounded-full bg-neutral-800 border shadow-md border-neutral-700 hover:border-neutral-600">
                            <i class="material-icons">arrow_downward</i>
                        </div>
                    </div>

                    <!-- to token -->
                    <div
                        class="border-neutral-800 hover:border-neutral-700 rounded-2xl border bg-neutral-900 p-3 flex flex-col gap-4">
                        <div class="flex items-center justify-between gap-2">
                            <div (click)="selectToToken()"
                                class="flex items-center bg-neutral-800 hover:bg-neutral-700 cursor-pointer gap-2 px-2 py-1 rounded-full shadow-md">
                                <div><img class="m-1 rounded-full w-6 h-6" [src]="swapData.toToken.logoURI" /></div>
                                <div>{{swapData.toToken.symbol}}</div>
                                <div class=""><i class="material-icons m-1">keyboard_arrow_down</i></div>
                            </div>
                        </div>
                        <div class="flex items-baseline flex-grow gap-3 overflow-hidden">
                            <div class="flex items-baseline gap-3 overflow-hidden">
                                <input class="input-amount" inputmode="decimal" title="Token Amount" autocomplete="off"
                                    autocorrect="off" type="text" pattern="^[0-9]*[.,]?[0-9]*$" placeholder="0.00"
                                    min="0" minlength="1" maxlength="79" spellcheck="false" value="0"
                                    [(ngModel)]="swapData.toToken.amount" (change)="changeToTokenAmount(null)"
                                    (keyup)="changeToTokenAmount($event)">
                                <!-- <div class="flex-none w-14" *ngIf="swapData.reserves">
                                    {{swapData.reserves[swapData.toToken.address]}}</div> -->
                            </div>

                            <div
                                class="text-sm font-medium cursor-pointer select-none flex text-neutral-400 whitespace-nowrap">
                                {{swapData.toToken.balance}}</div>
                        </div>
                    </div>

                    <!-- pricing -->

                    <div *ngIf="swapData.tokensRate > 0"
                        class="shadow-inner transition border-neutral-700 rounded-md border p-3 text-sm font-bold text-high-emphesis">
                        1 {{swapData.fromToken.symbol}} = {{swapData.tokensRate.toFixed(4)}} {{swapData.toToken.symbol}}
                    </div>
                    <!-- swap button -->
                    <div>
                        <button mat-flat-button color="accent" class="w-full h-14 font-medium text-lg"
                            [disabled]="!swapData.canSwap" (click)="swap()">

                            <div class="flex items-center justify-center">
                                <mat-spinner class="mr-2" strokeWidth="3" [diameter]="24" *ngIf="swapData.processing">
                                </mat-spinner>
                                <div> {{swapData.swapText}}</div>
                            </div>
                            
                        </button>
                        <!-- <mat-progress-bar color="accent" mode="indeterminate">
                        </mat-progress-bar> -->
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>